@using Fastreportdemo.Models;

@model List<Report>

@{
    ViewData["Title"] = "Reports";
}

<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Demand</th>
            <th>DisapprovalsNumber</th>
            <th>BugReporter</th>
            <th>BugResponsible</th>
            <th>Blablablablabla</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
            <td>@item.id</td>
            <td>@item.title</td>
            <td>@item.status</td>
            <td>@item.priority</td>
            <td>@item.demand</td>
            <td>@item.disapprovalsNumber</td>
            <td>@item.bugReporter</td>
            <td>@item.bugResponsible</td>
            </tr>
        }
    </table>
</div>